span input {
    font-family: serif;
    text-decoration: underline;
    color: blue;
    border-style: solid;
    border-color: yellow;
    background-color: cornsilk;
}

/*#selector {
    display: none;
}*/